<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="wrapper">
  <div class="sidebar">
    <h2>Sidebar</h2>
    <ul>
      <li><a href="#"><i class="fas fa-home"></i> Dashboard</a></li>
      <li><a href="#"><i class="fas fa-user"></i>View Bill On Category</a></li>
      <li><a href="#"><i class="fas fa-address-card"></i>Pay Bill On Category</a></li>
    </ul>
    <div class="social_media">
      <a href="#"><li class="fab fa-facebook-f"></li></a>
      <a href="#"><li class="fab fa-twitter"></li></a>
      <a href="#"><li class="fab fa-instagram"></li></a>
    </div>
  </div>
  <div class="main_content">
    <div class="header">Welcome!!</div>
    <div class="info">
      <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint dolores vel perferendis nihil veritatis facere harum repellendus quibusdam, provident mollitia natus, repudiandae optio error dicta quasi similique corrupti, quia atque.</div>
      <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint dolores vel perferendis nihil veritatis facere harum repellendus quibusdam, provident mollitia natus, repudiandae optio error dicta quasi similique corrupti, quia atque.</div>
      <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint dolores vel perferendis nihil veritatis facere harum repellendus quibusdam, provident mollitia natus, repudiandae optio error dicta quasi similique corrupti, quia atque.</div>
      <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint dolores vel perferendis nihil veritatis facere harum repellendus quibusdam, provident mollitia natus, repudiandae optio error dicta quasi similique corrupti, quia atque.</div>
    </div>
  </div>
</div> -->

<!-- <div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="top_menu">
      <div class="logo wow tada"  data-wow-duration="1s">PBill</div>
      <ul>
        <li class="wow tada"  data-wow-duration="1s">
          <a href="#">
            <li class="fas fa-search"></li>
          </a>
        </li>
        <li class="wow tada" data-wow-duration="1s">
          <a href="#">
            <li class="fas fa-bell"></li>
          </a>
        </li>
        <li class="wow tada" data-wow-duration="1s">
          <a href="#">
            <li class="fas fa-user"></li>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar">
    <ul>
      <li >
        <a href="#" class="active">
          <span class="icon">
              <i class="far fa-chart-bar" aria-hidden="true"></i>
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li >
        <a href="#" >
          <span class="icon">
            <i class="fas fa-tasks" aria-hidden="true"></i>
          </span>
          <span class="title">View Bill Details</span>
        </a>
      </li>
      <li >
        <a href="#" >
          <span class="icon">
            <i class="fas fa-credit-card" aria-hidden="true"></i>
          </span>
          <span class="title">Pay Bill On Category</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="main_container">
    <div class="item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusantium saepe quasi id a mollitia porro dolorum
      sit, velit placeat!
    </div>
    <div class="item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusantium saepe quasi id a mollitia porro dolorum
      sit, velit placeat!
    </div>
    <div class="item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusantium saepe quasi id a mollitia porro dolorum
      sit, velit placeat!
    </div>
    <div class="item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusantium saepe quasi id a mollitia porro dolorum
      sit, velit placeat!
    </div>
  </div>
</div> -->



<!--Main Application code begins here  -->
<app-layout></app-layout>